<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.madcamp_week2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cover_img"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/cover_img_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MadCamp_Week1"
        android:usesCleartextTraffic="true">
        <activity android:name=".SeeReviewsActivity"
            android:theme="@style/NoBarTheme"
            ></activity>
        <activity
            android:name=".WritePostActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".DetailPostActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".RestaurantActivity"
            android:theme="@style/NoBarTheme" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/network_security_config" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme" />
    </application>

</manifest>